* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --ligh-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradient Colors */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Fonts */

/* 500 */
@font-face {
  font-family: HankenGritesk;
  src: url(../fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 500;
}

/* 700 */
@font-face {
  font-family: HankenGritesk;
  src: url(../fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 700;
}

/* 700 */
@font-face {
  font-family: HankenGritesk;
  src: url(../fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 800;
}

/* Footer styling */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
